/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*****base styles***********************************************************/

   body, html{
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     background-color: #0d0e13;
     text-align: center;
     color:#b6c0d9;
   }

   a{
     text-decoration: none;
     text-transform:capitalize;
     color: white;
     font-weight: 400;
   }

   img {
     width:100%;
     height:auto;
   }

   h1{
     font-family: 'Quicksand', cursive;
     text-transform: uppercase;
     font-weight: 400;
     font-size: 1.3em;
     letter-spacing: .15em;
     color:white;
     padding-top: .2em;
    }

    h1 span{
      font-size: 1.3em;
    }

   h2{
     font-family: 'Quicksand', cursive;
     text-transform: capitalize;
     font-size: 1.2em;
     color:lightgrey;
     font-weight: bolder;
   }

   p{
     font-weight: 400;
   }

   figure{
     margin:0;
   }

   main{
     width:96%;
     margin: 0 2%;
     margin: auto;
     max-width:1200px;
     clear: both;
   }

   .container{
     width:100%;
     height:auto;
     margin:0;
   }

   /*****header*************************************************************/

   header{
     max-width: 1200px;
     margin:auto;
   }

   .navlinks-desktop{
     display:none;
   }

   .tree-desktop{
     display:none;
   }

   .tree-mobile{
     border-top: 2px solid #949ab0;
     border-bottom: 2px solid #949ab0;
     padding-top: 2px;
     padding-bottom: 2px;
   }

   #navlinks-mobile{
     list-style: none;
     padding: 0;
   }

   #navlinks-mobile li{
     width:26%;
     display:inline-block;
     background-color:#b6c0d9;
     border: 1px solid #0d0e13;
     padding:8px;
   }

   #navlinks-mobile li a{
     text-transform: lowercase;
     letter-spacing: .1em;
     color: #0d0e13;
   }

   #navlinks-mobile li a:hover{
     color:white;
   }

   /*****about*************************************************************/

   #about{
     max-width:100%;
     border-bottom: 1px solid #949ab0;
     margin:5px auto;
     padding:40px 20px;
   }

   #about p{
     text-align: center;
   }

   .portrait-mobile{
     width:25%;
     margin-left: 37.5%;
   }

   /*****portfolio**********************************************************/

   #portfolio{
     border-bottom: 1px solid #949ab0;
     margin:5px auto;
     height:auto;
     width:100%;
     background-color: #7e8396;
     color:black;
     padding:40px 0;
   }

   #portfolio img{
     max-width: 50%;
     min-width: 25%;
     margin-top:40px;
     margin-bottom: 10px;
     border:3px solid black;
     padding:5px;
   }

   #portfolio img:hover{
     opacity:.8;
     border:3px solid white;
   }

   #portfolio h2{
     color:white;
   }

   #portfolio p{
     font-weight: 600;
   }

   #portfolio p span{
     font-weight: normal;
     color:#b6c0d9;
   }

   /*****contact************************************************************/
   #contact{
     margin:0 auto;
     height:auto;
     max-width:100%;
     padding:40px 0;
     border-top: 1px solid #949ab0;
   }

   .contact-item{
     margin:20px;
     padding-top: 20px;
   }

   #contact h2{
     margin:30px;
   }

   #contact p{
     color:white;
     letter-spacing: .1em;
   }


   #contact a{
   text-decoration:none;
   text-transform: lowercase;
   }

   #contact ul {
       list-style: none;
       padding:0 10%;
   }

   #contact ul li {
        display: inline-block;
        padding: 0 10px;
        border: none !important;
   }

   #contact ul li i{
     font-size: 2em;
   }

   #contact ul li i:hover{
     color:white;
   }

   /********footer**************************************************************/

   footer p{
     font-size: .8em;
   }



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media all and (min-width:768px){
     /****tablet styles*****/

  h1{
    letter-spacing: .5em;
  }

  /*****about************************/

  #about img{
    max-width: 50%;
  }

   /*****portfolio*****/

  #portfolio .container{
    display:flex;
    align-items: center;
    justify-content: center;
  }

   /*****contact*****/

   #contact .container{
     display:flex;
     align-items: center;
     justify-content: center;
   }

   #contact h2, h3{
     color:white;
   }

   #contact a{
     color:#b6c0d9;
   }

   .contact-item{
     width:40%;
     padding-top: 0;
   }

   }

/*****desktop styles********************************************************************/

@media all and (min-width:1024px){

  /*****desktop styles****/

  body, html{
    background-color: #393d46;
  }

  main{
    max-width: 1200px;
  }

  /*****header*****/

  .main-header{
    height:50px;
  }

  h1{
    margin:0;
    max-width: 50%;
    display: inline;
    float:left;
    text-align:center;
    padding-top: 18px;
  }

  h1 span{
    font-size: 1em;
  }

  .navlinks-desktop{
    display:inline;
  }

  #navlinks-mobile{
    display:none;
  }

.tree-mobile{
  display:none;
}

.tree-desktop{
  display:contents;
  height:auto;
  max-width: 1200px;
}

.tree-desktop img{
  border-top: 2px solid #949ab0;
  border-bottom: 2px solid #949ab0;
  padding-top: 2px;
  padding-bottom: 2px;
}

nav{
  padding-top: 5px;
  margin:15px auto;
  width:50%;
  float:right;
  text-align:right;
  background-color: inherit;
}

nav ul{
  list-style: none;
}

nav ul li{
  display:inline;
  border-bottom: none;
}

nav ul li a{
  padding-left: 30px;
  font-size: 1.25em;
}

.tree-desktop p{
  text-align: left;
  position: absolute;
  color:black;
  font-weight: bold;
  max-width:500px;
  bottom:45%;
  right:45%;
  line-height: 1.5em;
}

.tree-desktop span{
  text-align: left;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: .3em;
  color:black;
  font-weight: bolder;
}


/*****about**************************************************************************/

#about{
  display:none;
}

/***************portfolio*************************************************************/

#portfolio h2{
  color:black;
}


}













@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
